.todo {
  margin-bottom: 1rem;
}

.todo.complated span {
  text-decoration: line-through;
}

.todo label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}

.todo i {
  z-index: 2;
}
.title {
  text-align: center;
}
.label {
  position: relative;
  padding: 15px;
}
.remove {
  position: absolute;
  right: 10px;
}
